@import 'tailwindcss';

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

button {
  cursor: pointer !important;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
